<div class="card card__positive-transaction" onclick="transactionButton.locate(event);" transaction-id="{{id}}">
	<img src="" class="card__image" alt="" width="48" height="48">
	<div class="card__data">
		<div class="card__title">{{sender}}</div>
		<div class="card__details">
			<div class="card__time">{{time}}</div>
			<div class="card__type">{{type}}</div>
		</div>
	</div>
	<div class="card__amount">{{amount}}</div>
</div>